<ul >
  <% pages.each do |page| %>
    <% if page == @category %>
      <li class="active">
    <% else %>
      <li>
    <% end %>
    <%= link_to_unless_current page.label, page %>

    <% if page.children.present? %>
      <%= render('submenu_pages', pages: page.children) %>
    <% end %>
      </li>
  <% end %>
</ul>
